*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: #333;
    width: 100%;
}
nav ul{
    overflow: hidden;
    margin-left: 20px;
}
nav ul li{
    float: left;
}
nav ul li h1{
    color: white;
    text-align: center;
    padding: 14px 16px;
}
nav ul li p{
    color: white;
    text-align: center;
    padding: 14px 16px;
}
body{
    background: #FFFADE;
}
table{
    border-collapse: collapse;
    margin-right: auto;
    width: 30%;
    margin: 10px;
    display: inline-block; 
}
table td, table th{
	border: 1px solid #000000;
	text-align: left;
	padding: 8px;
}
table tr:nth-child(even){
	background-color: #dddddd;
}
