<!DOCTYPE html>
<html>
    <head>
        <title>Geodom</title>
        <link rel="Stylesheet" href="static/stylesheet.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><h1>Aktuell</h1></li>
                <li><p>Außen: {{ outside }}C</p></li>
                <li><p>Innen: {{ inside}}C</p></li>
                <li><p>Unterschied: {{ diff }}C</p></li>
            </ul>
        </nav>
        <img src="/static/graph.png">
        <img src="/static/graph1.png">
        <div class="halfd">
            <h2>12 Stunden</h2>
            <table>
                <tr>
                    <th></th>
                    <th>Außen</th>
                    <th>Innen</th>
                    <th>Unterschied</th>
                </tr>
                <tr>
                    <td style='font-weight:bold;'>Mittel</td>
                    <td>{{oavg12}}</td>
                    <td>{{iavg12}}</td>
                    <td>{{davg12}}</td>
                </tr>
                <tr>
                    <td style='font-weight:bold;'>Max</td>
                    <td>{{omax12}}</td>
                    <td>{{imax12}}</td>
                    <td>{{dmax12}}</td>
                </tr>
                <tr>
                    <td style='font-weight:bold;'>Min</td>
                    <td>{{omin12}}</td>
                    <td>{{imin12}}</td>
                    <td>{{dmin12}}</td>
                </tr>
            </table>	
        </div>
        <div class="fulld">
            <h2>24 Stunden</h2>
            <table>
                <tr>
                    <th></th>
                    <th>Außen</th>
                    <th>Innen</th>
                    <th>Unterschied</th>
                </tr>
                <tr>
                    <td style='font-weight:bold;'>Mittel</td>
                    <td>{{oavg24}}</td>
                    <td>{{iavg24}}</td>
                    <td>{{davg24}}</td>
                </tr>
                <tr>
                    <td style='font-weight:bold;'>Max</td>
                    <td>{{omax24}}</td>
                    <td>{{imax24}}</td>
                    <td>{{dmax24}}</td>
                </tr>
                <tr>
                    <td style='font-weight:bold;'>Min</td>
                    <td>{{omin24}}</td>
                    <td>{{imin24}}</td>
                    <td>{{dmin24}}</td>
                </tr>
            </table>	
        </div>
    </body>
</html>
